 <!only want collapsable button on small screens: sm; primary: blue; mb3: it adds margin to the bottom>
 <nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
  <div class = "container">
  <a class="navbar-brand" href="/">Barter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/About">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Check your shoes</a>
        <div class="dropdown-menu">
          <a href="/shoes" class="dropdown-item ">My shoes</a>
           <a href="/shoes/sell" class="dropdown-item ">Sell Shoes</a>
        </div>
      </li>
      {{else}}
            <li class="nav-item">
        <a href="/users/login" class="nav-link">Login</a>
      </li>
       <li class="nav-item">
        <a href="/users/register" class="nav-link">Register</a>
      </li>
      {{/if}}
    </ul>
  </div>
  </div>
</nav>