<style>
  h1 {
    color: white;
  }
  p {
    color: white;
  }
</style>
<h1>About</h1>
<p>CEN 3031 Group 2</p>
<p>Bartr is a shoe based bartering site that allows users to buy, sell, and trade shoes.</p>

