<h1>About</h1>
<p> This is a website which allows users to trade shoes online. Users can buy or sell shoes on the website. Users can choose to pay USD or exchange shoes with a seller to buy shoes.</p>
<p>CEN 3031 Group 2</p>
