<!DOCTYPE html>
<html>
<style>
  body {
    background: white;
  }
</style>
<head>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script> 
    
   
</head>
<body>

<p>尝试修改以下表单。</p>

<div ng-app="app" ng-controller="myCtrl">
 
名: <input type="text" ng-model="scope"><br>
姓: <input type="text" ng-model="lastName"><br>
<br>
姓名: {{scope }}

</div>



</body>

</html>
