<! row is for the grid system>
<div class="row">
  <! 6 column div, pushed to the middle>
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Browse Shoes</h3>
      <form action="/Browse" >
        <div class="form-group">
          <label for="key">Search</label>
          <input type="text" name="key" class="form-control" value="{{key}}" required>
        </div>
        <button type="submit" id = "submitbtn" class = "btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>


