<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Find your favorite shoes here</p>
  <a href="/About" id="bigbutton" class="btn btn-dark btn-lg"> Learn More About Our Website</a>
</div>
