<style>
.jumbotron {
  background: rgba(233, 236, 239, 0.7);
}
</style>
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Buy, sell, and barter to your heart's content.</p>
  <a href="/shoes/search" id="bigbutton" class="btn btn-dark btn-lg">Search</a>
</div>

