<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p claass="lead">Find your favourite shoes here</p>
  <a href="/ideas/add" id="bigbutton" class="btn btn-dark btn-lg"> Upload shoes</a>
</div>
