<div class="card card-body">
  <h3>Shoes Information</h3>
  <form action="/shoes" method="post">
    <!standard bootstrp markup>
    <div class="form-group">
      <label for="brandname">Brand Name</label>
      <select class="form-control" name="brandname" required>
        <option disabled selected hidden value="">Select Brand</option>
        <option value="Adidas">Adidas</option>
        <option value="Air Jordan">Air Jordan</option>
        <option value="Asics">Asics</option>
        <option value="Nike">Nike</option>
        <option value="Reebok">Reebok</option>
        <option value="Under Armour">Under Armour</option>
      </select>
    </div>

    <div class="form-group adidas">
      <label for="shoesname">Shoes Name</label>
      <input type="text" class="form-control" name="shoesname" required>
    </div>

    <div class="form-group">
      <label for="price">Shoes Price</label>
      <input type="text" class="form-control" name="price" required>
    </div>

    <!--<div class="form-group">
      <label for="description">Shoes Description</label>
      <textarea class="form-control" name="description" required></textarea>
    </div>-->

    <!Submit button>
    <button type="submit" class = "btn btn-info ">Submit</button>
  </form>
</div>
