<div class="card card-body">
  <h3>Shoes Information</h3>
  <form action="/shoes" method="post">
    <!standard bootstrp markup>
    <!--<div class="form-group">
      <label for="brandname">Brand Name</label>
      <select class="form-control" name="brandname" required>
        <option disabled selected hidden value="">Select Brand</option>
        <option value="Adidas">Adidas</option>
        <option value="Air Jordan">Air Jordan</option>
        <option value="Asics">Asics</option>
        <option value="Nike">Nike</option>
        <option value="Reebok">Reebok</option>
        <option value="Under Armour">Under Armour</option>
      </select>
    </div>

    <div class="form-group">
      <label for="shoesname">Shoes Name</label>
      <input type="text" class="form-control" name="shoesname" required>
    </div>-->

    <div class="form-group">
      <label for="shoesname">Shoe</label>
      <select class="form-control" name="shoesname" required>
        <option disabled selected hidden value="">Select Brand</option>
        <option disabled value="">adidas</option>
        <option value="adidas Yeezy 350 v2 Beluga">Yeezy 350 v2 Beluga</option>
        <option value="adidas Yeezy 350 v2 Blue Tint">Yeezy 350 v2 Blue Tint</option>
        <option value="adidas Yeezy 350 v2 Bred">Yeezy 350 v2 Bred</option>
        <option disabled value="">-----</option>
        <option disabled value="">Air Jordan</option>

        <option value="Air Jordan 4 Retro Kaws">Jordan 4 Retro Kaws</option>
        <option value="Air Jordan 1 Retro High Shadow">Jordan 1 Retro High Shadow</option>
        <option value="Air Jordan 3 Retro Black Cement">Air Jordan 3 Retro Black Cement</option>

        <option disabled value="">-----</option>
        <option disabled value="">Nike</option>
        <option value="Nike 2016 Air Mag">2016 Air Mag</option>
        <option value="Nike SB Dunk High Ugly Christmas Sweater">SB Dunk High Ugly Christmas Sweater</option>
        <option value="Nike Air Jordan 1 Off-White">Air Jordan 1 Off-White</option>
        <option disabled value="">-----</option>
        <option disabled value="">Under Armour</option>
        <option value="Under Armour HOVR Phantom Connected">HOVR Phantom Connected</option>
        <option value="Under Armour The Rock Delta White">The Rock Delta White</option>
        <option value="Under Armour Curry 1 Underdog">Curry 1 Underdog</option>
      </select>
    </div>

    <!--
    <div class="form-group">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Shoes
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Adidas</li>
        <button><option value="{'brandname':'Adidas','shoesname':'Adidas1'}">Adidas1</option></button>
        <button><option value="{'brandname':'Adidas','shoesname':'Adidas2'}">Adidas2</option></button>
        <li><option value="{'brandname':'Adidas','shoesname':'Adidas3'}">Adidas3</option></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nike</li>
        <li><option value="{'brandname':'Nike','shoesname':'Nike1'}">Nike1</option></li>
        <li><option value="{'brandname':'Nike','shoesname':'Nike2'}">Nike2</option></li>
        <li><option value="{'brandname':'Nike','shoesname':'Nike3'}">Nike3</option></li>
      </ul>
    </div>-->

    <div class="form-group">
      <label for="price">Shoes Price $</label>
      <input type="text" class="form-control" name="price">
    </div>

    <!--<div class="form-group">
      <label for="description">Shoes Description</label>
      <textarea class="form-control" name="description" required></textarea>
    </div>-->

	<div class="form-group">
      <label for="shoesize">Shoe Size</label>
      <select class="form-control" name="shoesize" required>
  	    <option disabled selected hidden value="">Select Size</option>
        <option value="8">8</option>
        <option value="8.5">8.5</option>
        <option value="9">9</option>
        <option value="9.5">9.5</option>
        <option value="10">10</option>
        <option value="10.5">10.5</option>
        <option value="11">11</option>
  	    <option value="11.5">11.5</option>
  	    <option value="12">12</option>
  	    <option value="12.5">12.5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="tradefor">Trade for</label>
      <select class="form-control" name="tradefor">
        <option disabled selected hidden value="">Select Brand</option>
        <option disabled value="">adidas</option>
        <option value="adidas Yeezy 350 v2 Beluga">Yeezy 350 v2 Beluga</option>
        <option value="adidas Yeezy 350 v2 Blue Tint">Yeezy 350 v2 Blue Tint</option>
        <option value="adidas Yeezy 350 v2 Bred">Yeezy 350 v2 Bred</option>
        <option disabled value="">-----</option>
        <option disabled value="">Air Jordan</option>
        <option value="Air Jordan 4 Retro Kaws">Jordan 4 Retro Kaws</option>
        <option value="Air Jordan 1 Retro High Shadow">Jordan 1 Retro High Shadow</option>
        <option value="Air Jordan 3 Retro Black Cement">Air Jordan 3 Retro Black Cement</option>
        <option disabled value="">-----</option>
        <option disabled value="">Nike</option>
        <option value="Nike 2016 Air Mag">2016 Air Mag</option>
        <option value="Nike SB Dunk High Ugly Christmas Sweater">SB Dunk High Ugly Christmas Sweater</option>
        <option value="Nike Air Jordan 1 Off-White">Air Jordan 1 Off-White</option>
        <option disabled value="">-----</option>
        <option disabled value="">Under Armour</option>
        <option value="Under Armour HOVR Phantom Connected">HOVR Phantom Connected</option>
        <option value="Under Armour The Rock Delta White">The Rock Delta White</option>
        <option value="Under Armour Curry 1 Underdog">Curry 1 Underdog</option>
      </select>
    </div>
    
    <!--
    <div class="form-group">
      <label for="forsale" class="radio-inline">
        <input type="radio" class="form-control" name="forsale" value="true">Yes</label>
      <label for="forsale" class="radio-inline">
        <input type="radio" class="form-control" name="forsale" value="false">No</label>
    </div>-->

    <!Submit button>
    <button type="submit" class = "btn btn-info ">Submit</button>
  </form>
</div>
