
<div class="card card-body">
  <h3>Shoes Information</h3>
  <form action="/shoes" method="post">
    <!standard bootstrp markup>
    <div class="form-group">
    <label for="brandname">Brand Name</label>
    <input type="text" class="form-control" name="brandname" required>
    </div>

     <div class="form-group">
    <label for="shoesname">Shoes Name</label>
    <input type="text" class="form-control" name="shoesname" required>
    </div>

    <!Submit button>
    <button type="submit" class = "btn btn-primary ">Submit</button>
  </form>
</div>