<! Account Preferences page>
<style>
  body {
    background-image: url('/img/AirMagsFalling.png');
    background-attachment: fixed;
  }
</style>
{{#each users}}
  <div class="card card-body">
    <h4>Username: {{username}}</h4>
    <h5>Email: {{email}}</h5>
    <h5>Balance: ${{bal}}</h5>
  </div>
{{else}}
  <p>poo</p>
{{/each}}
